.card{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.card-container{
  
    margin: 5vw;
  }
  .exercise-detail{
    background-color:lightslategrey;
    position: sticky;
    top:0;
  }
 
.item-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
@media only screen and (max-width: 576px){
    
    .card-container{
      margin: 0;
    }
  }
@media only screen and (max-width: 768px){
   .item-container{
    display: block;
   }
}
@media (min-width: 768px) and (max-width: 992px){
    .item-container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
    }
}