.exercise-details{
    padding: 20px;
    position: sticky;
    top:0;
}
.exercise-header img{
    width:50px;
    height:50px;
    border-radius: 10px;
    margin-right: 5px;
}
.exercise-header{
    display: flex;
    align-items: center;
}
.btn-activity{
    background-color: lightsteelblue;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0;
}
.btn-activity:hover{
    background-color: antiquewhite;
}